/* Common */

*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    color: black;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}
nav{
    text-decoration: none;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}
nav a{
    text-decoration: none;
    padding: 0.5em;
    display: block;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
ul img{
    margin-right: 450px;
}
nav  a:link{
    color: black;
}
nav a:visited{
    color: mediumblue;
}
nav a:hover{
    background-color: antiquewhite;
    color: maroon;
}
nav a:active{
    background-color: maroon;
    color: antiquewhite;
}
.contact{
    background-color: rgb(48, 45, 45);
    color: antiquewhite;
    text-align: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.contact a:link{
    color: white;
}
.contact a:visited{
    color: grey;
}
.contact a:hover{
    color: aliceblue;
}
.contact a:active{
    color: red;
}
footer{
    background-color: grey;
    text-align: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Home Page */

#home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.topside{
    flex: 1;
    position: relative;
    overflow: hidden;
    background-image: url(images/nyp\ koufu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 10s infinite ease-in-out;
}
.bottomside{
    flex: 1;
    background-color: maroon;
    display: flex;
}
.left h1{
    font-size: 4em;
    color: antiquewhite;
    padding: 0px;
    margin-top: 50px;
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left p{
    font-size: 1.2em;
    color: white;
    padding: 10px;
    margin-left: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cta a:link{
    color: maroon;
}
.cta a:visited{
    color: maroon;
 }
.cta a:hover{
    color: antiquewhite;
}
.cta{
    display: inline-block;
    color: maroon;
    background-color: antiquewhite;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 160px;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
.cta:hover {
    color: antiquewhite;
    background-color: rgb(109, 23, 23);
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: -1;
}
.right, .left{
    flex: 1;
}
.right{
    background-color: antiquewhite;
}
.right h2{
    color: maroon;
    font-size: 2.5em;
    text-align: center;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.right p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.promocontainer{
    background-image: url(images/kaya\ toast.jpg);
    background-position: center;
    background-size: cover;
}
.promo{
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    text-align: center;
    color: antiquewhite;
}
.promo ul{
    list-style: none;
    font-size: 1.2em;
}
.promo h2{
    color: aliceblue;

}
@keyframes change{
    0%{
        background-image: url(images/nyp\ koufu.jpg);
    }
    20%{
        background-image: url(images/nyp\ koufu\ 2.jpg);
    }
    40%{
        background-image: url(images/nyp\ koufu\ 3.jpg);
    }
    60%{
        background-image: url(images/nyp\ koufu\ 4.jpg);
    }
    80%{
        background-image: url(images/nyp\ koufu.jpg);
    }
    100%{
        background-image: url(images/nyp\ koufu\ 2.jpg);
    }
}

/* Menu Page */

.mainmenupage{
    background-color: antiquewhite;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
.mainmenupage h1{
    background-color: maroon;
    color: antiquewhite;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menucontainer{
    display: flex;
}
.menuleft{
    flex: 1;
}
.menuright{
    flex: 1;
}
.menucta img{
    width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.menucta{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.menulink{
    display: inline-block;
    color: antiquewhite;
    background-color: maroon;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.menulink:hover{
    background-color: rgb(248, 215, 172);
    color: maroon;
}

/* Drinks menu page */

.menupage h1{
    color: maroon;
    background-color: antiquewhite;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menupage p{
    color: antiquewhite;
    font-size: 2em;
    text-align: center;
    padding: 0.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-container{
    max-width: 1024px;
    gap: 20px;
    width: 860px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 280px 280px 280px 280px;
    margin: auto;
}
.grid-item{
    
    text-align: center;
}    
.grid-item img{
    width: 180px;
}
.grid-item h4{
    font-size: 1.5em;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-item p{
    font-size: 1em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-item hr{
    color: black;
}
.item14{
    grid-column: 2/span 3;

    text-align: center;
}
.item14 p{
    color: white;
    font-size: 1.5em;
    margin-top: 50px;
}
.item14 a{
    text-decoration: none;
    text-align: center;
}
.item14 a:link{
    color: maroon;
}
.item14 a:visited{
    color: maroon;
}
.item14 a:hover{
    color: antiquewhite;
}
.bcta{
    display: inline-block;
    color: maroon;
    background-color: antiquewhite;
    text-decoration: none;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bcta:hover {
    color: antiquewhite;
    background-color: maroon;
} 

/* Food menu page */

.foodmenu h1{
    background-color: antiquewhite;
    color: maroon;
    font-size: 4em;
    padding: 0.5em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
.foodmenu p{
    color: antiquewhite;
    font-size: 2em;
    padding: 0.3em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.foodcontainer{
    max-width: 1024px;
    margin: auto;
    gap: 20px;
    font-size: 4em;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 280px 280px 280px;
    margin-top: 10px;
}
.food-item{
    text-align: center;
}
.set1, .set2, .set3{
    grid-column: 1/span 4 ;
}
.food-item img{
    width: 270px;
    float: inline-start;
}
.food-item h4{
    font-size: 0.7em;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.food-item p{
    color: antiquewhite;
    font-size: 0.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price p{
    color: white;
    font-size: 0.4em;
}
.foodinfo{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foodinfo p{
    color: white;
    font-size: 1.5em;
}
.bev-cta{
    padding: 0.5em;
}
.bev-cta a{
    text-decoration: none;
}
.bev-cta a:link{
    color: maroon;
}
.bev-cta a:visited{
    color: maroon;
}
.bev-cta a:hover{
    color: antiquewhite;
}
.dcta{
    display: inline-block;
    color: maroon;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.dcta:hover {
    color: antiquewhite;
    background-color: maroon;
} 

/* Order page  */

.orderpage{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: antiquewhite;
}
.orderpage h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    padding: 0.5em;
    text-align: center;
    color: antiquewhite;
    background-color: maroon;
}
.personal{
    text-align: center;
}
.personal input{
    width: 300px;
}
.orderfieldset{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 0.3em;
    border-radius: 9px;
    border: 2px maroon solid;
}
.orderdetails{
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: maroon;
}
.orderpage label{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: maroon;
}
.ordercontainer{
    display: flex;
    gap: 10px;
}
.drinkorder{
    flex: 1;
    text-align: center;
}
.foodorder{
    flex: 1;
    text-align: center;
}
input[type="radio"]{
    margin: 0px;
    padding: 0px;
}
button{
   padding: 0.5em;
   font-size: 1.2em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: maroon;
   color: antiquewhite;
   border-radius: 20px;
   border: 2px black solid;
}
button:hover{
    background-color: antiquewhite;
    color: maroon;
}
.orderbuttons{
    margin-left: 21em;
    padding: 0.5em;
}
.buttoncta{
    border-radius: 20px;
    color: antiquewhite;
    background-color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5em;
    font-size: 1.2em;
    border: 2px black solid;
}
.buttoncta:hover{
    color: maroon;
    background-color: antiquewhite;
}
.orderbuttons a{
    text-decoration: none;
}

/* about page */

.about{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;           
}
.aboutimage{
    background-color: rgba(0, 0, 0, 0.5);
    height: 250px;
 }
 .aboutimage h1{
    text-align: center;
    font-size: 4em;
    color: antiquewhite;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aboutpage{
    display: flex;
    flex-direction: column;
}
.abouttop{
    flex: 1;
    display: flex;
}
.aboutbottom{
    flex: 1;
    background-color: antiquewhite;
}
.aboutleft{
    flex: 1;
    color: maroon;
    border: 2px maroon solid;
}
.aboutleft img{
    margin-left: 90px;
    height: 170px;
    margin-top: 20px;
}
.aboutleft p{
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutleft h3{
    text-align: center;
    font-size: 2em;
    background-color: maroon;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aboutright{
    flex: 1;
    color: maroon;
    border: 2px maroon solid;
}
.about h2{
    font-size: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.aboutcta a:link{
    color: antiquewhite;
}
.aboutcta a:visited{
    color: antiquewhite;
}
.aboutcta a:hover{
    color: maroon;
}
.aboutcta{
    display: inline-block;
    color: antiquewhite;
    background-color: maroon;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 130px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aboutcta:hover {
    color: maroon;
    background-color: rgb(248, 215, 172);
}
.aboutright p{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutright img{
    width: 180px;
    margin-left: 160px;
}
.aboutcta{
    text-align: center;
}
.aboutbottom h2{
    color: antiquewhite;
    background-color: maroon;
    font-size: 2.5em;
    padding: 1em;
}
.aboutbottom img{
    width: 300px;
    padding: 1em;
    float: left;
}
.aboutbottom p{
    margin-top: 50px;
    font-size: 1em;
    color: antiquewhite;
    text-align: left;
    padding: 0.5em;
    background-color: maroon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* membership page */

.membershippage{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
  }
  .membershippage h1{
    color: antiquewhite;
    background-color: maroon;
    padding: 0.5em;
    font-size: 4em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .membershippage label{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    padding: 0.3em;
   display: inline-block;
  }
  .gender{
    font-size: 1em;
    color: white;
    display: inline-block;
  }
  .membership{
    padding: 1em;
  }
  .signfieldset{
    padding: 0.5em;
    border-radius: 10px;   
    border: 2px maroon solid; 
  }
  .signfieldset2{
    padding: 0.5em;
    border-radius: 10px;   
    border: 2px maroon solid; 
  }
  .login{
    text-align: center;
    padding: 0.5em;
  }
  .membershippage input{
    width: 250px;
    display: inline-block;
  }
  input[type="radio"]{
    width: 30px;
    color: antiquewhite;
  }
  .memberbutton{
    text-align: center;
    padding: 1em;
  }
  .strongpass{
    color: maroon;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .signlegend{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    background-color: maroon;
    border: 2px solid maroon;
    padding: 0.3em;
    border-radius: 10px;
  }